@th-color: #428bca;
@th-color-hover: darken(@th-color, 10%);

th {
	color: @th-color;
}

th:hover {
	color: @th-color-hover;
}

.searchstyle {
	height: '800px';
	width: 300;
	margin: 10;
	text-align: 'center';
	display: 'flex';
	flex-direction: 'column';
	justify-content: 'flex-start';
	margin-bottom: '50px';
}
.schedule {
	float: left;
	display: block;
	align: right;
}
.classes-search {
	float: left;
	width: 320px;
	height: 100%;
	display: block;
	align: left;
}

.container {
	margin-top: 10px;
	position: absolute;
	margin-left: 350px;
	margin-right: 15px;
	//margin-left: 10px;
	//margin-right: 50px;
	float: left;
	width: auto;
	display: block;
}


p.cellhtml {
	word-break: normal;
  	white-space: normal;
	word-wrap: normal;
	color: #FFF;
	margin: 5px 5px 0px 5px;
	font-size: 8px;
	width: 200px;
}

h1 {
	font-size: 12px;

}

#registered {
	background-color: @th-color;
	border-radius: 6px;
	width: auto;
	height: 80px;
	padding-right: 10px;
}



